<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    
</head>
<body>
    <header> <%-include('./layout/header.ejs')%>
    </header>
   <main>
    <div class="row">
        <% saved.forEach(element =>{%>
            <div class="card">
            <h3><%= element.character%></h3>
            <img src="<%= element.image%>" alt="">
            <p><%= element.quote%></p>
            <form action="/favorite-quotes/<%=element.id%>?_method=PUT" method="POST">
                <label for="qoute">You can update the qoute ! </label>
                <input type="text" value="<%= element.quote%>" name="quote">
                <input type="submit" value="update">
            </form>
            <form action="/favorite-quotes/<%=element.id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete">

            </form>

        </div>
       <% })%>
    </div></main>
</body>
</html>